---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import "@/styles/index.css"

const TITLE = "Vladimir Volkov (ff34d)"
const DESCRIPTION = "Vladimir Volkov (ff34d) - Frontend-engineer"

const FAVICON_SVG_URL = new URL("favicon.svg", Astro.url).href
const FAVICON_ICO_URL = new URL("favicon.ico", Astro.url).href

const META_IMAGE = new URL("icon512_maskable.png", Astro.url).href
---

<!doctype html>
<html lang="en">
   <head>
      <!-- Base -->
      <title>{TITLE}</title>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width"
      />
      <meta
         name="description"
         content={DESCRIPTION}
      />
      <meta
         name="generator"
         content={Astro.generator}
      />

      <!-- Open Graph -->
      <meta
         property="og:title"
         content={TITLE}
      />
      <meta
         property="og:description"
         content={DESCRIPTION}
      />
      <meta
         property="og:type"
         content="website"
      />
      <meta
         property="og:url"
         content={Astro.url}
      />
      <meta
         property="og:image"
         content={META_IMAGE}
      />

      <!-- Twitter -->
      <meta
         name="twitter:card"
         content="summary_large_image"
      />
      <meta
         name="twitter:title"
         content={TITLE}
      />
      <meta
         name="twitter:description"
         content={DESCRIPTION}
      />
      <meta
         name="twitter:image"
         content={META_IMAGE}
      />

      <!-- Links -->
      <link
         rel="icon"
         type="image/svg+xml"
         href={FAVICON_SVG_URL}
      />
      <link
         rel="icon"
         href={FAVICON_ICO_URL}
      />
      <link
         rel="canonical"
         href={Astro.url}
      />

      <!-- Scheme ld -->
      <script
         type="application/ld+json"
         set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "Blog",
            name: TITLE,
            description: DESCRIPTION,
            image: META_IMAGE,
            url: Astro.url.toString(),
            publisher: {
               "@type": "Person",
               name: "Vladimir Volkov",
               url: "https://ff34d.github.io/ff34d-page/",
            },
         })}
      />

      <!-- Initialize theme -->
      <script is:inline>
         ;(function () {
            const stored = localStorage.getItem("_theme")
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches
            const theme = stored || (prefersDark ? "dark" : "light")
            document.documentElement.classList.add(theme)
         })()
      </script>
   </head>

   <body>
      <Header />

      <main class="box content">
         <slot />
      </main>

      <Footer />
   </body>
</html>
